{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% page_attribute "page_title" %} - UnrestPH</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
    <style>
        ol.breadcrumb li {
            font-size: 10px;
            text-transform: uppercase;
        }
        ol.breadcrumb li a {
            color: #ccc;
        }
        ol.breadcrumb li a:hover {
            color: #aaa;
        }
        .navbar-nav li.child {
            padding: 5px 10px;
        }
    </style>
    {% render_block "css" %}
</head>

<body>
    {% cms_toolbar %}
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">Start Bootstrap</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% show_menu 0 100 100 100 %}
            </ul>
          </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        {% block content %}{% endblock content %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% show_breadcrumb %}
            </ol>
        </nav>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; UnrestPH {% now 'Y' %}</p>
    </div>
    <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% render_block "js" %}
</body>

</html>